<header class="header">
  <div class="conteiner">
    <div class="header__wrapper">
      <div class="logo">
        <svg class="logo__icon">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
        <span class="logo__text">Filmoteka</span>
      </div>

      <nav>
        <ul class="nav__items">
          <li class="nav__item">
            <a class="nav__link" href="./index.html">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">My library</a>
          </li>
        </ul>
      </nav>
    </div>

    <form class="searchform">
      <label class="searchform__label">
        <input
          class="searchform__input"
          type="text"
          placeholder="Movie search"
        />
        <button class="searchform__btn">
          <svg class="btn__icon">
            <use href="./images/sprite.svg#loupe"></use>
          </svg>
        </button>
      </label>
    </form>
  </div>
</header>
